.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.star-wars-logo {
    font-family: "Poller One", serif;
    font-weight: 400;
    font-style: normal;
    color: #ffd700;
    font-size: 2.5em;
    text-align: center;
    padding: 1rem;
}

header {
    background-color: black;
    border: 1px solid #30363d;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto; /* Take up remaining space */
    overflow: auto;
    padding: 1rem;
    gap: 1rem;
    background-color: #0E1117;
}
  