* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #000; /* Black background to match the Star Wars theme */
  color: #fff; /* White text color for contrast */
  font-family: 'Trebuchet MS', sans-serif; /* Fallback font */
  height: 100%;
  background-color: blue;
}
